@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cambria", sans-serif;
}

:root {
  /* ===== Colors - Dark Mode Theme ===== */
  --body-color: #12121a; /* Background body */
  --sidebar-color: #1e1e2f; /* Sidebar dark */
  --primary-color: #ffb703; /* Accent color */
  --primary-color-light: #3e3e55; /* Hover/secondary bg */
  --toggle-color: #888; /* Switch bg */
  --text-color: #ffffff; /* Text in sidebar */

  /* ====== Transition ====== */
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #000;
}
